# compiled output
/dist
/node_modules
/compose

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
/src/controller/order/iamport.ts

# OS
.DS_Store
.env
.eslintrc.js
.prettierrc
# Tests
/coverage
/.nyc_output
ormconfig.ts
tsconfig.json
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json